@charset "UTF-8";
/* line 16, ../sass/bbf-style.scss */
.appointment-btn-wrap, .read-more-wrap, .pay-select-number-wrap, .address-wrap, .app-info-list, .login-srap, .logistics-info-wrap, .gift-item h2, .gift-item p, .gift-info-con-wrap {
  margin: 0 auto;
  width: 90%;
  overflow: hidden; }

/* line 21, ../sass/bbf-style.scss */
.select-wrap, .input-wrap, .textarea-wrap {
  width: 99.4%;
  min-height: 40px;
  border-radius: 30px;
  background: #000;
  border: 1px solid #3c3d40;
  overflow: hidden; }

/* line 29, ../sass/bbf-style.scss */
.address-btn, .wx-btn,
.zfb-btn, .app-info2-btns .info2-left-btn,
.app-info2-btns .info2-right-btn, .succeed-friend-btn1,
.succeed-friend-btn2, .login-btn, .menu-login .menu-login-btn, .pay-btn {
  border: 2px solid #fff;
  border-radius: 30px;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/*粉红色文字*/
/* line 40, ../sass/bbf-style.scss */
.point-font {
  color: #ed4985; }

/*蓝色文字*/
/* line 44, ../sass/bbf-style.scss */
.point-font2 {
  color: #0072ff; }

/*橘色文字*/
/* line 48, ../sass/bbf-style.scss */
.point-font3 {
  color: #fa7d42; }

/*下边距10*/
/* line 52, ../sass/bbf-style.scss */
.mgb10 {
  margin-bottom: 10px; }

/* line 55, ../sass/bbf-style.scss */
* {
  margin: 0;
  padding: 0; }

/* line 60, ../sass/bbf-style.scss */
html {
  font-family: "Helvetica Neue", Helvetica,"Microsoft Yahei", STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

/* line 67, ../sass/bbf-style.scss */
body {
  line-height: 1.5;
  color: #999999;
  height: 100%;
  background: #181a1d;
  -webkit-overflow-scrolling: touch; }

/* line 75, ../sass/bbf-style.scss */
a {
  color: #999999;
  text-decoration: none; }

/* line 80, ../sass/bbf-style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 84, ../sass/bbf-style.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

/* line 89, ../sass/bbf-style.scss */
h1, h2, h3, h4, h5, h6, em, span, i, strong {
  font-weight: normal;
  font-style: normal; }

/* line 94, ../sass/bbf-style.scss */
img {
  width: 100%;
  max-width: 100%; }

/* line 99, ../sass/bbf-style.scss */
li {
  list-style-type: none; }

/* line 102, ../sass/bbf-style.scss */
.fl {
  float: left; }

/* line 105, ../sass/bbf-style.scss */
.fr {
  float: right; }

/* line 109, ../sass/bbf-style.scss */
.cf:before, .cf:after {
  content: "";
  display: table; }

/* line 114, ../sass/bbf-style.scss */
.cf:after {
  clear: both; }

/* For IE 6/7 (trigger hasLayout) */
/* line 119, ../sass/bbf-style.scss */
.cf {
  zoom: 1; }

/* line 125, ../sass/bbf-style.scss */
.wrap-box {
  width: 100%;
  overflow: hidden; }

/* line 129, ../sass/bbf-style.scss */
.header {
  height: 40px;
  line-height: 40px;
  background: #ed4985;
  overflow: hidden; }
  /* line 134, ../sass/bbf-style.scss */
  .header span {
    margin: 11px 2px 0 16px;
    float: left;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #ed4985;
    font-size: 1.4em;
    font-weight: bolder;
    background: #ffffff;
    border-radius: 50%; }

/* line 147, ../sass/bbf-style.scss */
.header-tt {
  font-size: 1.8em;
  color: #ffffff;
  font-weight: bolder;
  letter-spacing: 1px; }

/* line 153, ../sass/bbf-style.scss */
.ment-btn {
  margin: 10px 0 0 1px;
  border-top: 4px #993859 solid;
  border-bottom: 4px solid #993859;
  float: left;
  width: 13px;
  height: 12px; }
  /* line 160, ../sass/bbf-style.scss */
  .ment-btn .ment-btn-line {
    margin-top: 4px;
    height: 4px;
    background: #993859; }

/* line 166, ../sass/bbf-style.scss */
.index-wrap {
  width: 100%;
  overflow: hidden; }

/* line 171, ../sass/bbf-style.scss */
.change-color {
  height: 78px;
  background: #181a1d url(../img/btn-up.png) center 93% no-repeat;
  background-size: 5%;
  overflow: hidden;
  display: none; }

/* line 178, ../sass/bbf-style.scss */
.color-con {
  margin-top: 14px;
  overflow: hidden; }
  /* line 181, ../sass/bbf-style.scss */
  .color-con li {
    margin: 0 2.1875%;
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #cfcfcf; }
    /* line 188, ../sass/bbf-style.scss */
    .color-con li:nth-of-type(1) {
      background: #ffffff; }
    /* line 191, ../sass/bbf-style.scss */
    .color-con li:nth-of-type(2) {
      background: #000; }
    /* line 194, ../sass/bbf-style.scss */
    .color-con li:nth-of-type(3) {
      background: #ffdf61; }
    /* line 197, ../sass/bbf-style.scss */
    .color-con li:nth-of-type(4) {
      background: #fe4c71; }
    /* line 200, ../sass/bbf-style.scss */
    .color-con li:nth-of-type(5) {
      background: #09ffa5; }
    /* line 203, ../sass/bbf-style.scss */
    .color-con li:nth-of-type(6) {
      background: #07edea; }

/* line 208, ../sass/bbf-style.scss */
.show-con {
  position: relative;
  width: 100%;
  overflow: hidden; }

/* line 213, ../sass/bbf-style.scss */
.change-color-begin {
  height: 40px;
  line-height: 40px;
  font-size: 1.4em;
  color: gainsboro;
  text-indent: 20px;
  background: url(../img/btn-down.png) center center no-repeat;
  background-size: 5%; }

/* line 222, ../sass/bbf-style.scss */
.show-con-btn {
  position: fixed;
  left: 2%;
  bottom: 12px;
  width: 63%;
  height: 70px;
  line-height: 70px;
  color: #ffffff;
  font-size: 1.8em;
  text-indent: 1em;
  border: 0 none;
  background: #ed4985 url(../img/btn-right.png) 90% center no-repeat;
  background-size: 14%;
  text-align: left; }

/* line 238, ../sass/bbf-style.scss */
.appointment-wrap {
  padding: 20px 0;
  width: 100%;
  overflow: hidden; }
  /* line 242, ../sass/bbf-style.scss */
  .appointment-wrap p {
    margin: 0 auto 20px auto;
    width: 90%;
    font-size: 1.4em;
    overflow: hidden; }
  /* line 248, ../sass/bbf-style.scss */
  .appointment-wrap .left-slogo {
    margin: 4px 10px 0 0;
    width: 10px;
    height: 12px;
    background: url(../img/right-sj.png) 0 0 no-repeat;
    background-size: 100%;
    float: left; }
  /* line 256, ../sass/bbf-style.scss */
  .appointment-wrap .left-slogo2 {
    margin: 4px 10px 0 0;
    width: 10px;
    height: 12px;
    background: url(../img/right-sj2.png) 0 0 no-repeat;
    background-size: 100%;
    float: left; }

/* line 266, ../sass/bbf-style.scss */
.bk-font {
  padding: 0 50px 0 8px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  background-color: #deff00;
  color: #000000; }

/* line 277, ../sass/bbf-style.scss */
.appointment-btn-left,
.appointment-btn-right {
  width: 44.6875%;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.6em;
  cursor: pointer; }

/* line 287, ../sass/bbf-style.scss */
.appointment-btn-left {
  float: left;
  color: #333333;
  background: #e3e3e3; }
  /* line 291, ../sass/bbf-style.scss */
  .appointment-btn-left i {
    margin: 3px 6px 0 0;
    width: 20px;
    height: 20px;
    vertical-align: top;
    display: inline-block; }

/* line 298, ../sass/bbf-style.scss */
.appointment-btn-right {
  float: right;
  color: #ffffff;
  background: #ed4985; }
  /* line 302, ../sass/bbf-style.scss */
  .appointment-btn-right i {
    margin: 3px 6px 0 0;
    width: 24px;
    height: 20px;
    vertical-align: top;
    display: inline-block; }

/* line 312, ../sass/bbf-style.scss */
.read-more {
  margin-bottom: 20px;
  color: gainsboro;
  cursor: pointer;
  display: block; }

/* line 317, ../sass/bbf-style.scss */
.read-more-down {
  margin-left: 13px;
  width: 14px;
  height: 8px;
  background: url(../img/btn-down.png) 0 0 no-repeat;
  background-size: 100%;
  display: inline-block; }

/* line 325, ../sass/bbf-style.scss */
.read-more-up {
  margin-left: 13px;
  width: 14px;
  height: 8px;
  background: url(../img/btn-up.png) 0 0 no-repeat;
  background-size: 100%;
  display: inline-block; }

/* line 333, ../sass/bbf-style.scss */
.read-more-info {
  display: none; }

/* line 337, ../sass/bbf-style.scss */
.pay-select-number-wrap {
  padding: 20px 0; }
  /* line 340, ../sass/bbf-style.scss */
  .pay-select-number-wrap p {
    margin-bottom: 15px;
    color: #666666;
    font-size: 1.4em; }

/* line 346, ../sass/bbf-style.scss */
.wz {
  width: 90%;
  display: inline-block; }

/* line 349, ../sass/bbf-style.scss */
.count {
  margin-bottom: 24px;
  height: 80px;
  border-radius: 5px;
  background: #292a2c;
  border: 2px solid #0b0c0d; }
  /* line 355, ../sass/bbf-style.scss */
  .count .count-left {
    float: left;
    width: 77%;
    height: 80px;
    background: #292a2c;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  /* line 363, ../sass/bbf-style.scss */
  .count .count-right {
    float: right;
    width: 23%;
    height: 80px;
    background: #525357;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
  /* line 371, ../sass/bbf-style.scss */
  .count .addition,
  .count .subtraction {
    height: 39px;
    line-height: 39px;
    text-align: center;
    font-size: 3em;
    color: gainsboro; }
  /* line 379, ../sass/bbf-style.scss */
  .count .addition {
    border-bottom: 1px solid #343539; }
  /* line 382, ../sass/bbf-style.scss */
  .count .subtraction {
    border-top: 1px solid #343539; }

/* line 386, ../sass/bbf-style.scss */
.count-left-item,
.count-left-item-number {
  float: left;
  width: 52%;
  height: 80px; }

/* line 393, ../sass/bbf-style.scss */
.count-left-item {
  overflow: hidden; }
  /* line 395, ../sass/bbf-style.scss */
  .count-left-item .count-item-img {
    width: 100%;
    height: 80px;
    display: inline-block;
    overflow: hidden; }

/* line 402, ../sass/bbf-style.scss */
.count-left-item-number {
  position: relative;
  margin: 0 1%;
  width: 46%;
  text-align: center;
  line-height: 76px;
  font-size: 8.2em;
  color: #ffffff;
  background: black url(../img/number-bg.png) 0 0 repeat-x;
  background-size: 50%;
  letter-spacing: 7px; }
  /* line 413, ../sass/bbf-style.scss */
  .count-left-item-number .line {
    position: absolute;
    top: 38px;
    width: 100%;
    height: 2px;
    background: #000000; }

/* line 421, ../sass/bbf-style.scss */
.multiplication {
  float: left;
  width: 6%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: #666666; }

/* line 431, ../sass/bbf-style.scss */
.select-wrap {
  position: relative;
  float: left; }
  /* line 435, ../sass/bbf-style.scss */
  .select-wrap select {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 40px;
    font-size: 1.4em;
    text-indent: 1em;
    color: #999999;
    background: transparent;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none; }
  /* line 449, ../sass/bbf-style.scss */
  .select-wrap .select-down {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 23%;
    height: 40px;
    background: #525357 url(../img/btn-down.png) center center no-repeat;
    background-size: 20%; }

/* line 460, ../sass/bbf-style.scss */
.show-color {
  width: 100%;
  overflow: hidden; }
  /* line 463, ../sass/bbf-style.scss */
  .show-color li {
    width: 60%;
    height: 30px;
    margin-bottom: 2px; }
    /* line 467, ../sass/bbf-style.scss */
    .show-color li:nth-of-type(1) {
      background: #7e7f80; }
    /* line 470, ../sass/bbf-style.scss */
    .show-color li:nth-of-type(2) {
      background: #37383a; }
    /* line 473, ../sass/bbf-style.scss */
    .show-color li:nth-of-type(3) {
      background: #742e49; }
    /* line 476, ../sass/bbf-style.scss */
    .show-color li:nth-of-type(4) {
      background: #8c7c0e; }
    /* line 479, ../sass/bbf-style.scss */
    .show-color li:nth-of-type(5) {
      background: #0072ff; }
    /* line 482, ../sass/bbf-style.scss */
    .show-color li:nth-of-type(6) {
      background: #591f88; }
  /* line 486, ../sass/bbf-style.scss */
  .show-color .w80p {
    width: 80%; }

/* line 492, ../sass/bbf-style.scss */
.address-tt {
  padding: 13px;
  font-size: 1.5em;
  color: #ffffff; }
  /* line 496, ../sass/bbf-style.scss */
  .address-tt span {
    margin-right: 8px;
    width: 30px;
    height: 24px;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom; }

/* line 508, ../sass/bbf-style.scss */
.input-text {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 0 none;
  background-color: transparent;
  font-size: 1.4em;
  text-indent: 1em;
  color: #ffffff;
  -webkit-appearance: none;
  appearance: none; }

/* line 520, ../sass/bbf-style.scss */
.textarea-wrap {
  min-height: 80px; }

/* line 524, ../sass/bbf-style.scss */
.input-textarea {
  padding: 10px;
  width: 100%;
  height: 70px;
  border: 0 none;
  background-color: transparent;
  font-size: 1.4em;
  text-indent: 1em;
  color: #ffffff;
  -webkit-appearance: none;
  appearance: none; }

/* line 536, ../sass/bbf-style.scss */
.address-btn {
  margin: 24px auto;
  display: block;
  width: 60%;
  height: 42px;
  line-height: 42px;
  font-size: 2em;
  font-family: "Helvetica Neue", Helvetica,"Microsoft Yahei", STHeiTi, Arial, sans-serif; }

/* line 546, ../sass/bbf-style.scss */
.pay-btns {
  margin-top: 25px;
  width: 100%; }

/* line 550, ../sass/bbf-style.scss */
.wx-btn,
.zfb-btn {
  margin-top: 24px;
  width: 34%;
  height: 30px;
  font-size: 1.5em; }

/* line 558, ../sass/bbf-style.scss */
.show-money-wrap {
  position: relative;
  float: left;
  width: 32%; }

/* line 563, ../sass/bbf-style.scss */
.show-money-con {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  border: 5px solid #ed4985;
  border-radius: 50%; }

/* line 570, ../sass/bbf-style.scss */
.show-money-bdr {
  width: 66px;
  height: 66px;
  line-height: 66px;
  font-size: 2.5em;
  color: #ffffff;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 50%; }

/* line 580, ../sass/bbf-style.scss */
.show-money-logo1 {
  position: absolute;
  top: -5px;
  right: 6px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 1.2em;
  color: #ffffff;
  background: #ed4985;
  border-radius: 50%; }

/* line 593, ../sass/bbf-style.scss */
.show-money-logo2 {
  position: absolute;
  top: 12px;
  left: 26px;
  width: 8px;
  color: #ffffff;
  font-size: 1.6em; }

/* line 602, ../sass/bbf-style.scss */
.appointment-info2-wrap {
  background: #181a1d url(../img/info-bg.jpg) 100% 100% no-repeat;
  background-size: 100%; }

/* line 606, ../sass/bbf-style.scss */
.app-info-list {
  margin: 0 auto; }
  /* line 609, ../sass/bbf-style.scss */
  .app-info-list li {
    margin-bottom: 6px;
    height: 34px;
    line-height: 34px;
    color: #ffffff;
    font-size: 1.4em;
    text-indent: 10px; }
    /* line 616, ../sass/bbf-style.scss */
    .app-info-list li:nth-of-type(1) {
      width: 70%;
      background: rgba(237, 73, 133, 0.75); }
    /* line 620, ../sass/bbf-style.scss */
    .app-info-list li:nth-of-type(2) {
      width: 50%;
      background: rgba(237, 73, 133, 0.65); }
    /* line 624, ../sass/bbf-style.scss */
    .app-info-list li:nth-of-type(3) {
      width: 80%;
      background: rgba(237, 73, 133, 0.55); }
    /* line 628, ../sass/bbf-style.scss */
    .app-info-list li:nth-of-type(4) {
      width: 90%;
      background: rgba(237, 73, 133, 0.45); }
    /* line 632, ../sass/bbf-style.scss */
    .app-info-list li:nth-of-type(5) {
      width: 55%;
      background-color: rgba(237, 73, 133, 0.35); }

/* line 638, ../sass/bbf-style.scss */
.app-info2-tt {
  margin: 35px auto;
  width: 272px;
  height: 36px; }

/* line 646, ../sass/bbf-style.scss */
.app-info2-btns {
  position: relative;
  margin: 60px auto 0 auto;
  width: 100%;
  overflow: hidden;
  overflow: visible;
  height: 78px;
  background: #181a1d;
  border-top: 1px solid #464646; }
  /* line 655, ../sass/bbf-style.scss */
  .app-info2-btns .info2-left-btn,
  .app-info2-btns .info2-right-btn {
    margin-top: 18px;
    width: 44.6875%;
    height: 36px;
    font-size: 1.5em; }
  /* line 663, ../sass/bbf-style.scss */
  .app-info2-btns .info2-left-btn {
    float: left;
    margin-left: 3%; }
  /* line 667, ../sass/bbf-style.scss */
  .app-info2-btns .info2-right-btn {
    float: right;
    margin-right: 3%; }

/* line 672, ../sass/bbf-style.scss */
.div-sjx {
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -15px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom: 15px solid #464646; }
  /* line 681, ../sass/bbf-style.scss */
  .div-sjx:after {
    position: absolute;
    top: -13px;
    left: -15px;
    content: "";
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom: 15px solid #181a1d; }

/* line 692, ../sass/bbf-style.scss */
.succeed-friend-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

/* line 698, ../sass/bbf-style.scss */
.succeed-friend-con {
  padding: 0 8%;
  position: relative;
  top: 50%;
  margin-top: -125px;
  height: 250px;
  background: rgba(0, 0, 0, 0.55);
  text-align: center;
  overflow: hidden; }
  /* line 707, ../sass/bbf-style.scss */
  .succeed-friend-con h1 {
    margin: 10px 0;
    color: #fa7d42;
    font-size: 2.3em; }
  /* line 712, ../sass/bbf-style.scss */
  .succeed-friend-con p {
    margin-bottom: 22px;
    color: #ffffff;
    font-size: 1.5em; }

/* line 718, ../sass/bbf-style.scss */
.succeed-friend-btn1,
.succeed-friend-btn2 {
  margin-bottom: 18px;
  width: 60%;
  height: 36px;
  font-size: 1.6em; }

/* line 726, ../sass/bbf-style.scss */
.succeed-friend-btn1 {
  background: #e0e0e0;
  color: #333333; }

/* line 730, ../sass/bbf-style.scss */
.succeed-friend-btn2 {
  background-color: transparent;
  color: #ffffff; }

/* line 734, ../sass/bbf-style.scss */
.succeed-friend-con2 {
  padding: 20px 8%;
  position: relative;
  top: 10%;
  height: 40px;
  background: rgba(0, 0, 0, 0.55);
  text-align: center; }
  /* line 742, ../sass/bbf-style.scss */
  .succeed-friend-con2 p {
    font-size: 1.4em;
    color: #ffffff; }
  /* line 746, ../sass/bbf-style.scss */
  .succeed-friend-con2 .jiantou {
    position: absolute;
    top: -26px;
    right: 32px;
    width: 32px;
    height: 32px; }

/* line 755, ../sass/bbf-style.scss */
.succeed-oneself p {
  margin-bottom: 18px; }

/* line 761, ../sass/bbf-style.scss */
.login-tt {
  margin-bottom: 44px;
  height: 130px;
  line-height: 130px;
  color: #ffffff;
  font-size: 4.7em;
  font-weight: bold;
  border-bottom: 1px solid #3c3d40; }
  /* line 769, ../sass/bbf-style.scss */
  .login-tt span {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    display: inline-block;
    background: #ffffff;
    text-align: center;
    color: #000000;
    font-weight: bold; }

/* line 781, ../sass/bbf-style.scss */
.login-input1,
.login-input2 {
  margin-bottom: 14px;
  border: 1px solid #3c3d40;
  background: #000000;
  border-radius: 30px; }

/* line 788, ../sass/bbf-style.scss */
.login-input1 {
  width: 98%; }

/* line 791, ../sass/bbf-style.scss */
.login-input2 {
  width: 70%; }

/* line 794, ../sass/bbf-style.scss */
.forget {
  padding-left: 3px; }

/* line 796, ../sass/bbf-style.scss */
.login-btn {
  float: left;
  width: 60%;
  height: 36px;
  line-height: 36px;
  border: 1px solid #fff;
  font-size: 1.6em; }

/* line 805, ../sass/bbf-style.scss */
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../img/unchecked.png?1413467403') 0 0 no-repeat;
  background-size: 100%; }

/* line 814, ../sass/bbf-style.scss */
input[type="checkbox"]:checked {
  background: url('../img/checked.png?1413467381') 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%; }

/* line 819, ../sass/bbf-style.scss */
.menu-wrap {
  width: 240px;
  overflow: hidden; }

/* line 823, ../sass/bbf-style.scss */
.login-ckbox {
  margin: 7px 8px 0 17px;
  float: left; }

/* line 827, ../sass/bbf-style.scss */
.ck-lab {
  line-height: 35px; }

/* line 830, ../sass/bbf-style.scss */
.menu-login {
  height: 180px;
  background: #212121;
  overflow: hidden; }
  /* line 834, ../sass/bbf-style.scss */
  .menu-login h2 {
    margin-top: 20px;
    font-size: 3em;
    color: #ffffff;
    text-indent: 23px;
    font-weight: bold; }
  /* line 841, ../sass/bbf-style.scss */
  .menu-login p {
    margin-top: 34px;
    height: 32px;
    line-height: 32px; }
    /* line 845, ../sass/bbf-style.scss */
    .menu-login p a {
      color: #ffffff;
      font-size: 1.2em; }
  /* line 849, ../sass/bbf-style.scss */
  .menu-login .menu-login-btn {
    margin: 0 24px 0 23px;
    width: 104px;
    height: 32px;
    font-size: 1.4em; }

/* line 858, ../sass/bbf-style.scss */
.menu-list {
  position: relative;
  border-top: 1px solid #464646;
  background: #131517; }
  /* line 862, ../sass/bbf-style.scss */
  .menu-list .menu-list-sjx {
    left: 20%; }
  /* line 865, ../sass/bbf-style.scss */
  .menu-list li {
    height: 72px;
    line-height: 72px;
    text-indent: 50px;
    border: 1px solid #181a1d; }
    /* line 870, ../sass/bbf-style.scss */
    .menu-list li a {
      height: 72px;
      display: block;
      color: #b9b9b9;
      font-size: 13px; }
    /* line 876, ../sass/bbf-style.scss */
    .menu-list li:nth-of-type(1) {
      background: url('../img/logo-1.png?1413386515') 15px 50% no-repeat;
      background-size: 10%; }
    /* line 880, ../sass/bbf-style.scss */
    .menu-list li:nth-of-type(2) {
      background: url('../img/logo-2.png?1413386568') 15px 50% no-repeat;
      background-size: 10%; }
    /* line 884, ../sass/bbf-style.scss */
    .menu-list li:nth-of-type(3) {
      background: url('../img/logo-3.png?1413386965') 15px 50% no-repeat;
      background-size: 10%; }

/* line 890, ../sass/bbf-style.scss */
.login-pic {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: #000000;
  overflow: hidden; }
  /* line 896, ../sass/bbf-style.scss */
  .login-pic .login-pic-con {
    margin: 8px 0 0 8px;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 3px solid #fff;
    overflow: hidden; }
    /* line 903, ../sass/bbf-style.scss */
    .login-pic .login-pic-con img {
      width: 100%; }

/* line 908, ../sass/bbf-style.scss */
.logistics-info-wrap {
  padding-bottom: 40px; }
  /* line 911, ../sass/bbf-style.scss */
  .logistics-info-wrap p {
    margin-top: 20px;
    color: #ffffff;
    font-size: 1.4em; }
  /* line 916, ../sass/bbf-style.scss */
  .logistics-info-wrap time {
    color: #999999;
    display: block; }

/* line 921, ../sass/bbf-style.scss */
.logistics-info-tt {
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #3c3d40;
  font-size: 2.1em;
  color: #ffffff; }

/* line 928, ../sass/bbf-style.scss */
.gift-info-wrap {
  width: 100%; }

/* line 931, ../sass/bbf-style.scss */
.gift-item {
  position: relative;
  padding: 40px 0;
  border-bottom: 1px solid #3c3d40; }
  /* line 935, ../sass/bbf-style.scss */
  .gift-item h2 {
    font-size: 1.6em;
    font-weight: bold;
    color: #ffffff; }
  /* line 941, ../sass/bbf-style.scss */
  .gift-item i {
    margin-right: 20px;
    float: right;
    font-weight: normal; }
  /* line 946, ../sass/bbf-style.scss */
  .gift-item p {
    margin-top: 8px;
    color: #999999;
    font-size: 1.3em; }
  /* line 952, ../sass/bbf-style.scss */
  .gift-item .right-logo {
    position: absolute;
    right: 10px;
    top: 72px;
    width: 10px;
    height: 16px;
    background: url('../img/right-logo.png?1413591210') 0 0 no-repeat;
    background-size: 100%; }

/* line 963, ../sass/bbf-style.scss */
.gift-info-con-wrap {
  padding-top: 30px;
  padding-bottom: 50px; }
  /* line 967, ../sass/bbf-style.scss */
  .gift-info-con-wrap .pay-wk {
    margin: 15px 0;
    text-align: right;
    color: #ffffff;
    font-size: 1.6em; }
    /* line 972, ../sass/bbf-style.scss */
    .gift-info-con-wrap .pay-wk span {
      font-size: 1.2em; }

/* line 977, ../sass/bbf-style.scss */
.gift-info-con-item {
  padding-bottom: 20px;
  border-bottom: 1px solid #3c3d40;
  overflow: hidden; }
  /* line 981, ../sass/bbf-style.scss */
  .gift-info-con-item .gift-item-pic {
    margin-right: 22px;
    float: left;
    width: 118px;
    height: 80px; }
  /* line 987, ../sass/bbf-style.scss */
  .gift-info-con-item h1 {
    font-size: 1.8em;
    color: #ffffff;
    font-weight: bold; }
  /* line 992, ../sass/bbf-style.scss */
  .gift-info-con-item p {
    font-size: 1.4em; }
    /* line 994, ../sass/bbf-style.scss */
    .gift-info-con-item p:nth-of-type(2n) {
      margin-top: 15px; }

/* line 999, ../sass/bbf-style.scss */
.gift-info-con-item2 {
  padding: 15px 0;
  border-bottom: 1px solid #3c3d40; }
  /* line 1002, ../sass/bbf-style.scss */
  .gift-info-con-item2 p {
    margin-bottom: 8px;
    font-size: 1.4em;
    overflow: hidden; }
  /* line 1007, ../sass/bbf-style.scss */
  .gift-info-con-item2 i {
    width: 70%;
    float: right;
    text-align: right; }
  /* line 1012, ../sass/bbf-style.scss */
  .gift-info-con-item2 .change-address-a {
    float: right;
    color: #ffffff; }

/* line 1018, ../sass/bbf-style.scss */
.pay-btn {
  margin: 30px auto;
  width: 70%;
  height: 36px;
  display: block;
  font-size: 1.6em; }

/* line 1026, ../sass/bbf-style.scss */
.gift-info-con-item2.receive-info {
  border-bottom: 0 none; }

/*@ sourceMappingURL=bbf-style.css.map */