@charset "utf-8";
$font-normal:#999;
$font-normal2:#666;
$font-tt:#dcdcdc;
$bg-normal:#181a1d;
$bg-color-red:#ed4985;
$color-blue:#0072ff;
$color-1:#7e7f80;
$color-2:#37383a;
$color-3:#742e49;
$color-4:#8c7c0e;
$color-5:#0072ff;
$color-6:#591f88;
%wrap{
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
}
%input-wrap{
  width: 99.4%;
  min-height: 40px;
  border-radius: 5px;
  background: #292a2c;
  border: 2px solid #0b0c0d;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-family:  "Helvetica Neue", Helvetica,"Microsoft Yahei", STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  color: $font-normal;
  height: 100%;
  background: $bg-normal;
  -webkit-overflow-scrolling: touch;
}

a {
  color: $font-normal;
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, em, span, i, strong {
  font-weight: normal;
  font-style: normal;
}

img {
  width: 100%;
  max-width: 100%;
}

li {
  list-style-type: none;
}
.fl {
  float: left;
}
.fr{
  float: right;
}
/*粉红色文字*/
.point-font {
  color: $bg-color-red;
}
/*蓝色文字*/
.point-font2{
  color: $color-blue;
}
/*下边距10*/
.mgb10{
  margin-bottom: 10px;}

.wrap-box{
  width: 100%;
  overflow: hidden;
}
.header{
  height: 40px;
  line-height: 40px;
  background: $bg-color-red;
  overflow: hidden;
    span{
      margin: 11px 2px 0 16px;
      float: left;
      width: 18px;
      height: 18px;
      line-height: 18px;
      text-align: center;
      color: $bg-color-red;
      font-size: 1.4em;
      font-weight: bolder;
      background: #ffffff;
      border-radius: 50%;}
}
.header-tt{
  font-size: 1.8em;
  color: #ffffff;
  font-weight: bolder;
  letter-spacing: 1px;
}
.ment-btn{
  margin: 10px 0 0 1px;
  border-top: 4px #993859 solid;
  border-bottom: 4px solid #993859;
  float: left;
  width: 13px;
  height: 12px;
    .ment-btn-line{
      margin-top: 4px;
      height: 4px;
      background: #993859;
    }
}
.index-wrap{
  width: 100%;
  overflow: hidden;
}

.change-color{
  height: 78px;
  background: $bg-normal url(../img/btn-up.png) center 93% no-repeat;
  background-size: 5%;
  overflow: hidden;
  display: none;
}
.color-con{
  margin-top: 14px;
  overflow: hidden;
  li{
    margin: 0 2.1875%;
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #cfcfcf;
      &:nth-of-type(1){
        background: #ffffff;
      }
      &:nth-of-type(2){
        background: #000;
      }
      &:nth-of-type(3){
        background: #ffdf61;
      }
      &:nth-of-type(4){
        background: #fe4c71;
      }
      &:nth-of-type(5){
        background: #09ffa5;
      }
      &:nth-of-type(6){
        background: #07edea;
      }
  }
}
.show-con{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.change-color-begin{
  height: 40px;
  line-height: 40px;
  font-size: 1.4em;
  color: $font-tt;
  text-indent: 20px;
  background: url(../img/btn-down.png) center center no-repeat;
  background-size: 5%;
}
.show-con-btn{
  position: fixed;
  left: 2%;
  bottom:12px;
  width: 63%;
  height: 70px;
  line-height: 70px;
  color: #ffffff;
  font-size: 1.8em;
  text-indent: 1em;
  border: 0 none;
  background: $bg-color-red url(../img/btn-right.png) 90% center no-repeat;
  background-size: 14%;
  text-align: left;
}

.appointment-wrap{
  padding: 20px 0;
  width: 100%;
  overflow: hidden;
    p{
      margin: 0 auto 20px auto;
      width: 90%;
      font-size: 1.4em;
      overflow: hidden;
    }
    .left-slogo{
      margin: 4px 10px 0 0;
      width: 10px;
      height: 12px;
      background:  url(../img/right-sj.png) 0 0 no-repeat;
      background-size: 100%;
      float: left;
    }
    .left-slogo2{
      margin: 4px 10px 0 0;
      width: 10px;
      height: 12px;
      background:  url(../img/right-sj2.png) 0 0 no-repeat;
      background-size: 100%;
      float: left;
    }
}

.bk-font {
  padding: 0 50px 0 8px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  background-color: #deff00;
  color: #000000;
}
.appointment-btn-wrap{
  @extend %wrap;
}
.appointment-btn-left,
.appointment-btn-right{
  width: 44.6875%;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.6em;
  cursor: pointer;
}
.appointment-btn-left{
  float: left;
  color: #333333;
  background: #e3e3e3;
    i{
      margin: 3px 6px 0 0;
      width: 20px;
      height: 20px;
      vertical-align: top;
      display: inline-block;}
}
.appointment-btn-right{
  float: right;
  color: #ffffff;
  background: $bg-color-red;
  i{
    margin: 3px 6px 0 0;
    width: 24px;
    height: 20px;
    vertical-align: top;
    display: inline-block;}
}
.read-more-wrap{
  @extend %wrap;
}
.read-more{
  margin-bottom: 20px;
  color: $font-tt;
  cursor: pointer;
  display: block;}
.read-more-down{
  margin-left: 13px;
  width: 14px;
  height: 8px;
  background: url(../img/btn-down.png) 0 0 no-repeat;
  background-size: 100%;
  display: inline-block;
}
.read-more-up{
  margin-left: 13px;
  width: 14px;
  height: 8px;
  background: url(../img/btn-up.png) 0 0 no-repeat;
  background-size: 100%;
  display: inline-block;
}
.read-more-info{
  display: none;
}

.pay-select-number-wrap{
  padding: 20px 0;
  @extend %wrap;
    p{
      margin-bottom: 15px;
      color: $font-normal2;
      font-size: 1.4em;
    }
}
.wz{
  width: 90%;
  display: inline-block;}
.count{
  margin-bottom: 24px;
  height: 80px;
  border-radius: 5px;
  background: #292a2c;
  border: 2px solid #0b0c0d;
    .count-left {
      float: left;
      width: 77%;
      height: 80px;
      background: #292a2c;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .count-right{
      float: right;
      width: 23%;
      height: 80px;
      background: #525357;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .addition,
    .subtraction{
      height: 39px;
      line-height: 39px;
      text-align: center;
      font-size: 3em;
      color: $font-tt;
    }
    .addition {
      border-bottom: 1px solid #343539;
    }
    .subtraction{
      border-top: 1px solid #343539;
    }
}
.count-left-item,
.count-left-item-number{
  float: left;
  width: 52%;
  height: 80px;

}
.count-left-item{
  overflow: hidden;
    .count-item-img{
      width: 100%;
      height: 80px;
      display: inline-block;
      overflow: hidden;
    }
}
.count-left-item-number{
  position: relative;
  margin: 0 1%;
  width: 46%;
  text-align: center;
  line-height: 76px;
  font-size: 8.2em;
  color: #ffffff;
  background: #000 url(../img/number-bg.png) 0 0 repeat-x;
  background-size: 50%;
  letter-spacing: 7px;
    .line{
      position: absolute;
      top: 38px;
      width: 100%;
      height: 2px;
      background: #000000;
    }
}
.multiplication{
  float: left;
  width: 6%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: $font-normal2;
}
.select-wrap{
  position: relative;
  float: left;
  @extend %input-wrap;
  select{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 40px;
    font-size: 1.4em;
    text-indent: 1em;
    color: $font-normal;
    background: transparent;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
  }
  .select-down{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 23%;
    height: 40px;
    background: #525357 url(../img/btn-down.png) center center no-repeat;
    background-size: 20%;
  }
}
.show-color{
  width: 100%;
  overflow: hidden;
    li{
      width: 60%;
      height: 30px;
      margin-bottom: 2px;
        &:nth-of-type(1){
          background: $color-1;
        }
        &:nth-of-type(2){
          background: $color-2;
        }
        &:nth-of-type(3){
          background: $color-3;
        }
        &:nth-of-type(4){
          background: $color-4;
        }
        &:nth-of-type(5){
          background: $color-5;
        }
        &:nth-of-type(6){
          background: $color-6;
        }
    }
    .w80p{
      width: 80%;}
}
.address-wrap{
  @extend %wrap;
}
.address-tt{
  padding: 13px;
  font-size: 1.5em;
  color: #ffffff;
    span{
      margin-right: 8px;
      width: 30px;
      height: 24px;
      display: inline-block;
      overflow: hidden;
      vertical-align: bottom;
    }
}
.input-wrap{
  @extend %input-wrap;
}
.input-text{
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 0 none;
  background-color: transparent;
  font-size: 1.4em;
  text-indent: 1em;
  color: #ffffff;
  -webkit-appearance: none;
  appearance: none;
}
.textarea-wrap{
  @extend %input-wrap;
  min-height: 80px;
}
.input-textarea{
  padding: 5px;
  width: 100%;
  height: 70px;
  border: 0 none;
  background-color: transparent;
  font-size: 1.4em;
  text-indent: 1em;
  color: #ffffff;
  -webkit-appearance: none;
  appearance: none;
}
.address-btn{
  margin: 24px 0;
  width: 100%;
  height: 42px;
  line-height: 42px;
  font-size: 2em;
  font-family:  "Helvetica Neue", Helvetica,"Microsoft Yahei", STHeiTi, Arial, sans-serif;
  border: 0 none;
  border-radius: 5px;
  background: #e3e3e3;
  -webkit-appearance: none;
  appearance: none;
}
.pay-btns{
  margin-top: 25px;
  width: 100%;
  overflow: hidden;}
.wx-btn,
.zfb-btn{
  width: 35%;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 30px;
  background: transparent;
  color: #ffffff;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1.5em;
}