@charset "utf-8";
$font-normal:#999;
$font-normal2:#666;
$font-tt:#dcdcdc;
$bg-normal:#181a1d;
$bg-color-red:#ed4985;
$color-blue:#0072ff;
$color-1:#7e7f80;
$color-2:#37383a;
$color-3:#742e49;
$color-4:#8c7c0e;
$color-5:#0072ff;
$color-6:#591f88;
$color-7:#fa7d42;
$bds:#3c3d40;
%wrap{
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
}
%input-wrap{
  width: 99.4%;
  min-height: 40px;
  border-radius: 30px;
  background: #000;
  border: 1px solid $bds;
  overflow: hidden;
}
%btns {
  border: 2px solid #fff;
  border-radius: 30px;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/*粉红色文字*/
.point-font {
  color: $bg-color-red;
}
/*蓝色文字*/
.point-font2{
  color: $color-blue;
}
/*橘色文字*/
.point-font3{
  color: $color-7;
}
/*下边距10*/
.mgb10{
  margin-bottom: 10px;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-family:  "Helvetica Neue", Helvetica,"Microsoft Yahei", STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  color: $font-normal;
  height: 100%;
  background: $bg-normal;
  -webkit-overflow-scrolling: touch;
}

a {
  color: $font-normal;
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, em, span, i, strong {
  font-weight: normal;
  font-style: normal;
}

img {
  width: 100%;
  max-width: 100%;
}

li {
  list-style-type: none;
}
.fl {
  float: left;
}
.fr{
  float: right;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1;
}



.wrap-box{
  width: 100%;
  overflow: hidden;
}
.header{
  height: 40px;
  line-height: 40px;
  background: $bg-color-red;
  overflow: hidden;
    span{
      margin: 11px 2px 0 16px;
      float: left;
      width: 18px;
      height: 18px;
      line-height: 18px;
      text-align: center;
      color: $bg-color-red;
      font-size: 1.4em;
      font-weight: bolder;
      background: #ffffff;
      border-radius: 50%;}
}
.header-tt{
  font-size: 1.8em;
  color: #ffffff;
  font-weight: bolder;
  letter-spacing: 1px;
}
.ment-btn{
  margin: 10px 0 0 1px;
  border-top: 4px #993859 solid;
  border-bottom: 4px solid #993859;
  float: left;
  width: 13px;
  height: 12px;
    .ment-btn-line{
      margin-top: 4px;
      height: 4px;
      background: #993859;
    }
}
.index-wrap{
  width: 100%;
  overflow: hidden;
}

.change-color{
  height: 78px;
  background: $bg-normal url(../img/btn-up.png) center 93% no-repeat;
  background-size: 5%;
  overflow: hidden;
  display: none;
}
.color-con{
  margin-top: 14px;
  overflow: hidden;
  li{
    margin: 0 2.1875%;
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #cfcfcf;
      &:nth-of-type(1){
        background: #ffffff;
      }
      &:nth-of-type(2){
        background: #000;
      }
      &:nth-of-type(3){
        background: #ffdf61;
      }
      &:nth-of-type(4){
        background: #fe4c71;
      }
      &:nth-of-type(5){
        background: #09ffa5;
      }
      &:nth-of-type(6){
        background: #07edea;
      }
  }
}
.show-con{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.change-color-begin{
  height: 40px;
  line-height: 40px;
  font-size: 1.4em;
  color: $font-tt;
  text-indent: 20px;
  background: url(../img/btn-down.png) center center no-repeat;
  background-size: 5%;
}
.show-con-btn{
  position: fixed;
  left: 2%;
  bottom:12px;
  width: 63%;
  height: 70px;
  line-height: 70px;
  color: #ffffff;
  font-size: 1.8em;
  text-indent: 1em;
  border: 0 none;
  background: $bg-color-red url(../img/btn-right.png) 90% center no-repeat;
  background-size: 14%;
  text-align: left;
}

.appointment-wrap{
  padding: 20px 0;
  width: 100%;
  overflow: hidden;
    p{
      margin: 0 auto 20px auto;
      width: 90%;
      font-size: 1.4em;
      overflow: hidden;
    }
    .left-slogo{
      margin: 4px 10px 0 0;
      width: 10px;
      height: 12px;
      background:  url(../img/right-sj.png) 0 0 no-repeat;
      background-size: 100%;
      float: left;
    }
    .left-slogo2{
      margin: 4px 10px 0 0;
      width: 10px;
      height: 12px;
      background:  url(../img/right-sj2.png) 0 0 no-repeat;
      background-size: 100%;
      float: left;
    }
}

.bk-font {
  padding: 0 50px 0 8px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  background-color: #deff00;
  color: #000000;
}
.appointment-btn-wrap{
  @extend %wrap;
}
.appointment-btn-left,
.appointment-btn-right{
  width: 44.6875%;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.6em;
  cursor: pointer;
}
.appointment-btn-left{
  float: left;
  color: #333333;
  background: #e3e3e3;
    i{
      margin: 3px 6px 0 0;
      width: 20px;
      height: 20px;
      vertical-align: top;
      display: inline-block;}
}
.appointment-btn-right{
  float: right;
  color: #ffffff;
  background: $bg-color-red;
  i{
    margin: 3px 6px 0 0;
    width: 24px;
    height: 20px;
    vertical-align: top;
    display: inline-block;}
}
.read-more-wrap{
  @extend %wrap;
}
.read-more{
  margin-bottom: 20px;
  color: $font-tt;
  cursor: pointer;
  display: block;}
.read-more-down{
  margin-left: 13px;
  width: 14px;
  height: 8px;
  background: url(../img/btn-down.png) 0 0 no-repeat;
  background-size: 100%;
  display: inline-block;
}
.read-more-up{
  margin-left: 13px;
  width: 14px;
  height: 8px;
  background: url(../img/btn-up.png) 0 0 no-repeat;
  background-size: 100%;
  display: inline-block;
}
.read-more-info{
  display: none;
}

.pay-select-number-wrap{
  padding: 20px 0;
  @extend %wrap;
    p{
      margin-bottom: 15px;
      color: $font-normal2;
      font-size: 1.4em;
    }
}
.wz{
  width: 90%;
  display: inline-block;}
.count{
  margin-bottom: 24px;
  height: 80px;
  border-radius: 5px;
  background: #292a2c;
  border: 2px solid #0b0c0d;
    .count-left {
      float: left;
      width: 77%;
      height: 80px;
      background: #292a2c;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .count-right{
      float: right;
      width: 23%;
      height: 80px;
      background: #525357;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .addition,
    .subtraction{
      height: 39px;
      line-height: 39px;
      text-align: center;
      font-size: 3em;
      color: $font-tt;
    }
    .addition {
      border-bottom: 1px solid #343539;
    }
    .subtraction{
      border-top: 1px solid #343539;
    }
}
.count-left-item,
.count-left-item-number{
  float: left;
  width: 52%;
  height: 80px;

}
.count-left-item{
  overflow: hidden;
    .count-item-img{
      width: 100%;
      height: 80px;
      display: inline-block;
      overflow: hidden;
    }
}
.count-left-item-number{
  position: relative;
  margin: 0 1%;
  width: 46%;
  text-align: center;
  line-height: 76px;
  font-size: 8.2em;
  color: #ffffff;
  background: #000 url(../img/number-bg.png) 0 0 repeat-x;
  background-size: 50%;
  letter-spacing: 7px;
    .line{
      position: absolute;
      top: 38px;
      width: 100%;
      height: 2px;
      background: #000000;
    }
}
.multiplication{
  float: left;
  width: 6%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: $font-normal2;
}
.select-wrap{
  position: relative;
  float: left;
  @extend %input-wrap;
  select{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 40px;
    font-size: 1.4em;
    text-indent: 1em;
    color: $font-normal;
    background: transparent;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
  }
  .select-down{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 23%;
    height: 40px;
    background: #525357 url(../img/btn-down.png) center center no-repeat;
    background-size: 20%;
  }
}
.show-color{
  width: 100%;
  overflow: hidden;
    li{
      width: 60%;
      height: 30px;
      margin-bottom: 2px;
        &:nth-of-type(1){
          background: $color-1;
        }
        &:nth-of-type(2){
          background: $color-2;
        }
        &:nth-of-type(3){
          background: $color-3;
        }
        &:nth-of-type(4){
          background: $color-4;
        }
        &:nth-of-type(5){
          background: $color-5;
        }
        &:nth-of-type(6){
          background: $color-6;
        }
    }
    .w80p{
      width: 80%;}
}
.address-wrap{
  @extend %wrap;
}
.address-tt{
  padding: 13px;
  font-size: 1.5em;
  color: #ffffff;
    span{
      margin-right: 8px;
      width: 30px;
      height: 24px;
      display: inline-block;
      overflow: hidden;
      vertical-align: bottom;
    }
}
.input-wrap{
  @extend %input-wrap;
}
.input-text{
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 0 none;
  background-color: transparent;
  font-size: 1.4em;
  text-indent: 1em;
  color: #ffffff;
  -webkit-appearance: none;
  appearance: none;
}
.textarea-wrap{
  @extend %input-wrap;
  min-height: 80px;
}
.input-textarea{
  padding: 10px;
  width: 100%;
  height: 70px;
  border: 0 none;
  background-color: transparent;
  font-size: 1.4em;
  text-indent: 1em;
  color: #ffffff;
  -webkit-appearance: none;
  appearance: none;
}
.address-btn{
  margin: 24px auto;
  display: block;
  width: 60%;
  height: 42px;
  line-height: 42px;
  font-size: 2em;
  font-family:  "Helvetica Neue", Helvetica,"Microsoft Yahei", STHeiTi, Arial, sans-serif;
  @extend %btns;
}
.pay-btns{
  margin-top: 25px;
  width: 100%;
}
.wx-btn,
.zfb-btn{
  margin-top: 24px;
  width: 34%;
  height: 30px;
  @extend %btns;
  font-size: 1.5em;
}
.show-money-wrap{
  position: relative;
  float: left;
  width: 32%;
}
.show-money-con{
  margin: 0 auto;
  width: 70px;
  height: 70px;
  border: 5px solid $bg-color-red;
  border-radius: 50%;
}
.show-money-bdr {
  width: 66px;
  height: 66px;
  line-height: 66px;
  font-size: 2.5em;
  color: #ffffff;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 50%;
}
.show-money-logo1{
  position: absolute;
  top: -5px;
  right: 6px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 1.2em;
  color: #ffffff;
  background: $bg-color-red;
  border-radius: 50%;
}
.show-money-logo2 {
  position: absolute;
  top: 12px;
  left: 26px;
  width: 8px;
  color: #ffffff;
  font-size: 1.6em;
}

.appointment-info2-wrap{
  background: #181a1d url(../img/info-bg.jpg) 100% 100% no-repeat;
  background-size: 100%;
}
.app-info-list {
  margin: 0 auto;
  @extend %wrap;
  li {
    margin-bottom: 6px;
    height: 34px;
    line-height: 34px;
    color: #ffffff;
    font-size: 1.4em;
    text-indent: 10px;
      &:nth-of-type(1){
        width: 70%;
        background: rgba(237,73,133,.75);
      }
      &:nth-of-type(2){
        width: 50%;
        background: rgba(237,73,133,.65);
      }
      &:nth-of-type(3){
        width: 80%;
        background: rgba(237,73,133,.55);
      }
      &:nth-of-type(4){
        width: 90%;
        background: rgba(237,73,133,.45);
      }
      &:nth-of-type(5){
        width: 55%;
        background-color: rgba(237,73,133,.35);
      }
  }
}
.app-info2-tt{
  margin: 35px auto;
  width: 272px;
  height: 36px;
}
.yuyue-info2{

}
.app-info2-btns{
  position: relative;
  margin: 60px auto 0 auto;
  width: 100%;
  overflow: hidden;
  overflow: visible;
  height: 78px;
  background: #181a1d;
  border-top: 1px solid #464646;
    .info2-left-btn,
    .info2-right-btn {
      margin-top: 18px;
      width: 44.6875%;
      height: 36px;
      font-size: 1.5em;
      @extend %btns;
    }
    .info2-left-btn {
      float: left;
      margin-left: 3%;
    }
    .info2-right-btn{
      float: right;
      margin-right: 3%;
    }
}
.div-sjx{
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -15px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom: 15px solid #464646;
    &:after{
      position: absolute;
      top: -13px;
      left: -15px;
      content: "";
      width: 0;
      height: 0;
      border: 15px solid transparent;
      border-bottom: 15px solid #181a1d;
    }
}
.succeed-friend-wrap{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.succeed-friend-con{
  padding: 0 8%;
  position: relative;
  top: 50%;
  margin-top: -125px;
  width: 100%;
  background: rgba(0,0,0,.55);
  text-align: center;
  overflow: hidden;
    h1{
      margin: 10px 0;
      color: $color-7;
      font-size: 2.3em;
    }
    p{
      margin-bottom: 22px;
      color: #ffffff;
      font-size: 1.5em;
    }
}
.succeed-friend-btn1,
.succeed-friend-btn2{
  margin-bottom: 18px;
  width: 60%;
  height: 36px;
  font-size: 1.6em;
  @extend %btns;
}
.succeed-friend-btn1{
  background: #e0e0e0;
  color: #333333;
}
.succeed-friend-btn2{
  background-color: transparent;
  color: #ffffff;
}
.succeed-friend-con2{
  padding: 20px 8%;
  position: relative;
  top: 10%;
  height: 40px;
  background: rgba(0,0,0,.55);
  text-align: center;

    p{
      font-size: 1.4em;
      color: #ffffff;
    }
    .jiantou{
      position: absolute;
      top: -26px;
      right: 32px;
      width: 32px;
      height: 32px;
    }
}
.succeed-oneself{
  p{
    margin-bottom: 18px;}
}
.login-srap{
  @extend %wrap;
}
.login-tt{
  margin-bottom: 44px;
  height: 130px;
  line-height: 130px;
  color: #ffffff;
  font-size: 4.7em;
  font-weight: bold;
  border-bottom: 1px solid $bds;
    span{
      width: 60px;
      height: 60px;
      line-height: 60px;
      border-radius: 50%;
      display: inline-block;
      background: #ffffff;
      text-align: center;
      color: #000000;
      font-weight: bold;
    }
}
.login-input1,
.login-input2{
  margin-bottom: 14px;
  border: 1px solid $bds;
  background: #000000;
  border-radius: 30px;
}
.login-input1{
  width: 98%;
}
.login-input2{
  width: 70%;
}
.forget{
  padding-left: 3px;}
.login-btn {
  float: left;
  width: 60%;
  height: 36px;
  line-height: 36px;
  @extend %btns;
  border: 1px solid #fff;
  font-size: 1.6em;
}
input[type="checkbox"]{
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: image-url("unchecked.png") 0 0 no-repeat;
  background-size: 100%;
}
input[type="checkbox"]:checked {
  background: image-url("checked.png") 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.menu-wrap {
  width: 240px;
  overflow: hidden;
}
.login-ckbox{
  margin: 7px 8px 0 17px;
  float: left;
}
.ck-lab{
  line-height: 35px;
}
.menu-login {
  height: 180px;
  background: #212121;
  overflow: hidden;
  h2 {
    margin-top: 20px;
    font-size: 3em;
    color: #ffffff;
    text-indent: 23px;
    font-weight: bold;
  }
  p{
    margin-top: 34px;
    height: 32px;
    line-height: 32px;
      a{
        color: #ffffff;
        font-size: 1.2em;}
  }
  .menu-login-btn{
    margin: 0 24px 0 23px;
    width: 104px;
    height: 32px;
    @extend %btns;
    font-size: 1.4em;
  }
}

.menu-list{
  position: relative;
  border-top: 1px solid #464646;
  background: #131517;
    .menu-list-sjx{
      left: 20%;
    }
    li{
      height: 72px;
      line-height: 72px;
      text-indent: 50px;
      border: 1px solid #181a1d;
        a{
          height: 72px;
          display: block;
          color: #b9b9b9;
          font-size: 13px;
        }
        &:nth-of-type(1){
          background: image-url('logo-1.png') 15px 50% no-repeat;
          background-size: 10%;
        }
        &:nth-of-type(2){
          background: image-url('logo-2.png') 15px 50% no-repeat;
          background-size: 10%;
        }
        &:nth-of-type(3){
          background: image-url('logo-3.png') 15px 50% no-repeat;
          background-size: 10%;
        }
    }
}
.login-pic{
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: #000000;
  overflow: hidden;
    .login-pic-con {
      margin: 8px 0 0 8px;
      width: 66px;
      height: 66px;
      border-radius: 50%;
      border: 3px solid #fff;
      overflow: hidden;
        img{
          width: 100%;
        }
    }
}
.logistics-info-wrap{
  padding-bottom: 40px;
  @extend %wrap;
    p{
      margin-top: 20px;
      color: #ffffff;
      font-size: 1.4em;
    }
    time{
      color: $font-normal;
      display: block;
    }
}
.logistics-info-tt{
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid $bds;
  font-size: 2.1em;
  color: #ffffff;
}
.gift-info-wrap{
  width: 100%;
}
.gift-item{
  position: relative;
  padding: 40px 0;
  border-bottom: 1px solid $bds;
    h2{
      @extend %wrap;
      font-size: 1.6em;
      font-weight: bold;
      color: #ffffff;
    }
    i{
      margin-right: 20px;
      float: right;
      font-weight: normal;
    }
    p{
      margin-top: 8px;
      @extend %wrap;
      color: $font-normal;
      font-size: 1.3em;
    }
  .right-logo {
    position: absolute;
    right: 10px;
    top: 72px;
    width: 10px;
    height: 16px;
    background: image-url("right-logo.png") 0 0 no-repeat;
    background-size: 100%;
  }
}

.gift-info-con-wrap{
  padding-top: 30px;
  padding-bottom: 50px;
  @extend %wrap;
    .pay-wk{
      margin: 15px 0;
      text-align: right;
      color: #ffffff;
      font-size: 1.6em;
        span{
          font-size: 1.2em;
        }
    }
}
.gift-info-con-item{
  padding-bottom: 20px;
  border-bottom: 1px solid $bds;
  overflow: hidden;
    .gift-item-pic{
      margin-right: 22px;
      float: left;
      width: 118px;
      height: 80px;
    }
    h1{
      font-size: 1.8em;
      color: #ffffff;
      font-weight: bold;
    }
    p{
      font-size: 1.4em;
        &:nth-of-type(2n){
          margin-top: 15px;
        }
    }
}
.gift-info-con-item2{
  padding: 15px 0;
  border-bottom: 1px solid $bds;
    p {
      margin-bottom: 8px;
      font-size: 1.4em;
      overflow: hidden;
    }
    i{
      width: 70%;
      float: right;
      text-align: right;
    }
    .change-address-a{
      float: right;
      color: #ffffff;
    }
}

.pay-btn{
  margin: 30px auto;
  width: 70%;
  height: 36px;
  @extend %btns;
  display: block;
  font-size: 1.6em;
}
.gift-info-con-item2.receive-info{
  border-bottom: 0 none;
}
.register-wrap{
  @extend %wrap;
}
.register-tt{
  border-bottom: 1px solid $bds;
  height: 130px;
  line-height: 130px;
  font-size: 2em;
  color: #ffffff;
    span{
      margin: 0 3px 0 5px;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      color: #000000;
      font-size: 1em;
      font-weight: bold;
      border-radius: 50%;
      background: #ffffff;
      display: inline-block;
    }
    b{
      padding-right: 3px;
    }
}
.register-phone{
  position: relative;
  .register-phone-msg{
    padding: 12px 0;
    font-size: 1.2em;
    text-indent: 1em;
  }
  .reset-time{
    margin-top: 36px;
    font-size: 1.2em;
    text-indent: 1em;
    span{
        color: #ffffff;
      }
  }
}
.register-input{
  margin: 44px auto;
  height: 34px;
  @extend %input-wrap;
  text-indent: 1em;
  display: block;
}
.yes{
  background:  image-url("checked.png") 90% 50% no-repeat;
  background-size: 8%;
}
.register-phone-btn{
  @extend %btns;
  width: 70%;
  height: 36px;
  line-height: 36px;
  font-size: 1.6em;
}
.register-input2{
  margin-top: 0;
}
.register-input3{
  margin-bottom: 14px;
}

.register-succeed{
  padding: 30px 0 35px 0;
    p{
      margin-bottom: 18px;
      font-size: 1.4em;
      color: #ffffff;
        &:nth-of-type(2){
          margin-top: -20px;
          font-size: 2.1em;
        }
    }
    em{
      font-size: 4em;
      font-weight: bold;
    }
    .faq {
      width: 65%;
      height: 27px;
      line-height: 27px;
      color: #ffffff;
      font-size: 1.4em;
      text-indent: 1em;
      background: #622a41 image-url("right-logo.png") 90% 50% no-repeat;
      background-size: 5%;
    }
}
.register-two-btn{
  margin-top: 0;
}
.address-succeed {
  height: 132px;
  line-height: 180px;
  text-indent: 5px;
  color: #ffffff;
  font-size: 2.1em;
  border-bottom: 1px solid $bds;
  background: image-url("red-logo.png") 5px 14% no-repeat;
  background-size: 40%;
}
.app-info-list2 {
  margin-top: 30px;
  li{
    &:nth-of-type(1){
      width: 60%;
    }
    &:nth-of-type(2){
      width: 90%;
    }
    &:nth-of-type(3){
      width: 95%;
    }
    &:nth-of-type(4){
      width: 100%;
    }
  }
}
.succeed-get-present{
  padding: 30px 0;
  margin-top: -180px;
  p{
    margin-bottom: 0;
  }
  .succeed-friend-btn2{
    margin-top: 60px;
    width: 50%;
  }
}
.bag-pic{
  margin: 0 auto;
  width: 110px;
  height: 144px;

}